:root{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url("imgs/bg.png");
    font-family: "Popins", sans-serif;
    
}
.page {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.container {
    background-color: white;
    width: 35%;
    margin: auto;
    text-align: center;
    padding: 3rem;
    border-radius: 0.6rem;

    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.12);
}

.boxOne {
    display: flex;
    flex-direction: column;
        
}

.welcome {
    font-size: 1.2rem;
    color: rgb(196, 196, 196);
}

.call {
    color: rgb(221, 16, 16);
    
}

h1 {
    font-weight: 700;
    font-family: "Poppins", sans-serif;
}

.cookie {
    width: 13rem;
    background-color: rgb(255, 255, 255);
    border: none;    
}

img{
    width: 13rem;
}

 .cookie:hover{
    animation: vibrateOne 0.3s linear infinite both;
    cursor: pointer;
}

.boxTwo {
    display: flex;
    flex-direction: column;
    
    
}

.interact {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.again {
    margin-top: 1.7rem;
    border: none;
    background-color: rgb(248, 6, 6);
    padding: 1rem;
    border-radius: 0.5rem;

    color: white;
    font-size: 1rem;
    font-weight: 700;
}

.again:hover {
    background-color: rgb(255, 104, 104);
    cursor: pointer;
}

.mesenger {
    font-family: 'Caveat', cursive;
    font-size: 2rem;
    animation: enter 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: fade 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}


.hidden {
    display: none;
}
.crash {
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

/* Animações */

@keyframes vibrateOne {
    0% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
    20% {
      -webkit-transform: translate(-2px, 2px);
              transform: translate(-2px, 2px);
    }
    40% {
      -webkit-transform: translate(-2px, -2px);
              transform: translate(-2px, -2px);
    }
    60% {
      -webkit-transform: translate(2px, 2px);
              transform: translate(2px, 2px);
    }
    80% {
      -webkit-transform: translate(2px, -2px);
              transform: translate(2px, -2px);
    }
    100% {
      -webkit-transform: translate(0);
              transform: translate(0);
    }
  }
  
  @keyframes enter {
    0% {
      -webkit-transform: translateY(1000px);
              transform: translateY(1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes fade {
    0% {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes scale-up-center {
    0% {
      -webkit-transform: scale(0.5);
              transform: scale(0.5);
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
 
  